<div id="site-sidebar" class="c-site-sidebar">
    {{! Sidebar header with blog cover and logo images }}
    <div class="c-sidebar-header" style="background-image: url({{@blog.cover_image}})">
        <a class="c-sidebar-header__link" href="{{@blog.url}}" title="{{@blog.title}}">
            <img class="c-sidebar-header__image" src="{{@blog.logo}}" alt="{{@blog.title}}">
        </a>
    </div>

    {{! Sidebar blog title }}
    {{#is "home"}}<h1 class="c-sidebar-blog-title">{{else}}<h2 class="c-sidebar-blog-title">{{/is}}
        <a class="c-sidebar-blog-title__link" href="{{@blog.url}}" title="{{@blog.title}}">
            {{@blog.title}}
        </a>
    {{#is "home"}}</h1>{{else}}</h2>{{/is}}

    {{! Sidebar blog description }}
    <h2 class="c-sidebar-blog-description">
        {{@blog.description}}
    </h2>

    {{! Sidebar contact links }}
    <div class="c-sidebar-contact-links">
        <a class="c-sidebar-contact-links__item" href="https://github.com/NagaKanaparthy" target="_blank">
            <img src="{{asset "img/gitLogo.png"}}"/>
        </a>

        <a class="c-sidebar-contact-links__item" href="https://www.linkedin.com/in/nagavarunkanaparthy" target="_blank">
            <img width="32px" src="{{asset "img/linkinLogo.jpg"}}"/>
        </a>

        <a class="c-sidebar-contact-links__item" href="mailto:nkanaparthy@outlook.com">
            <img src="{{asset "img/mail.png"}}"/>
        </a>
    </div>

    {{! Sidebar navigation - Ghost's menu }}
    {{navigation}}
</div>